*{
    margin: 0;
    padding: 0;
}
html,body{
    font-family: 'Oswald', sans-serif;
    height: 100%;
}
.header{
    height: 110px;
    display: flex;
    justify-content: space-between;
}
.menu {
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footer{
    height: 260px;
}
.footer__bottom{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    justify-content: center;
    align-items: center;
}
.card_image1{
    width: 325px;
    height: 216px;
}
.banner{
    background-image: url(https://source.unsplash.com/vSuQJKZkt4U/1920x1080);
    height: 812px;
    align-items: center;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.text_big{
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}

.nav_menu{
    background: #FFFFFF;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
    font-size: 36px;
    color: #000000;
    text-decoration: none;
    line-height: 53px;
    display: flex;

}
.link{
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.link:hover{
    text-decoration: underline blue;
}
.logo:hover{
    text-decoration: underline blue;
}
.menu__li{
    list-style: none;
    justify-content: space-between;
}
.line{
    width: 80px;
    height: 10px;
    background: #817070;
}
.right{
    display: flex;
    justify-content: space-between;
}
.main {
    text-align: center;
}
.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
}
.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img3 {
    width: 600px;
    height: 400px;
    margin-left: 80px;
}
.text3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    margin-left: 40px;
    margin-right: 123px;
}
.img1{
    width: 325px;
    height: 216px;
}
.img2{
    width: 325px;
    height: 216px;
}
.img4{
    width: 325px;
    height: 216px;
}
fieldset{
    background: #817070;
}
.card_container{
    background: #EFEFEF;
    height: 711px;
    text-align: center;
    display: block;
}
.content{
    display: flex;
    justify-content: space-around;
}
.card__content1{
    justify-content: center;
    background: #FFFFFF;
    width: 365px;
    height: 474px;
    left: 102px;
    top: 172px;
}
.card_title1{
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   margin: 20px;
}
.card__text1{
    margin: 24px 20px 46px 20px;
}
.card_title2{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: 20px;
}
.card__text2{
    margin: 24px 20px 46px 20px;
}
.card_title3{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin: 20px;
}
.card__text3{
    margin: 24px 20px 46px 20px;
}
.card__content2{
    background: #FFFFFF;
    width: 365px;
    height: 474px;
    left: 102px;
    top: 172px;
}
.card__content3{
    background: #FFFFFF;
    width: 365px;
    height: 474px;
    left: 102px;
    top: 172px;
}